<div class="dashboard">
    <h1>Stats</h1>
    <div class="onglet">
        <div class="elements">
            <div class="onglet_title">
                <span>Les Tutoriels</span>
            </div>
            <div class="onglet_stats">
                <span>00</span><span>|</span>
                <span>12</span>
            </div>
        </div>
        <div class="elements">
            <div class="onglet_title">
                <span>Procédures Administratives</span>
            </div>
            <div class="onglet_stats">
                <span>00</span><span>|</span>
                <span>12</span>
            </div>
        </div>
        <div class="elements">
            <div class="onglet_title">
                <span>Auteurs</span>
            </div>
            <div class="onglet_stats">
                <span>00</span><span>|</span>
                <span>12</span>
            </div>
        </div>
        <div class="elements">
            <div class="onglet_title">
                <span>Abonnés</span>
            </div>
            <div class="onglet_stats">
                <span>00</span><span>|</span>
                <span>12</span>
            </div>
        </div>
    </div>
</div>
<div class="dashboard">
    <h1>Les tutos les plus visité</h1>
    <div class="table">
        <%- include('../components/table_header')%>
        <div class="liste">
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
            <%- include('../components/items_tuto')%>
        </div>
    </div>
    </div>
</div>