<div class="table">
    <%- include('../components/table_header')%>
    <div class="liste">
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
        <%- include('../components/items_tuto')%>
    </div>
</div>